.newProduct {
    display: flex;
    width: 100%;

    .newProductContainer {
        flex: 6;

        .top,
        .bottom {
            display: flex;
            margin: 20px;
            padding: 10px;
            border-radius: 5px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            h2 {
                font-size: 18px;
                color: #6a0dada4;
                margin: 10px 20px;

            }

            .left {
                flex: 1;
                text-align: center;
                margin: 30px 10px;
                display: flex;
                align-items: center;
                flex-direction: column;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    object-fit: cover;
                }

                .extraImages {
                    display: flex;
                    gap: 10px;

                    .extraImage {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        margin-bottom: 50px;
                        object-fit: cover;
                    }
                }

            }

            .right {
                flex: 2;
                margin: 20px 10px;

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    position: relative;

                    .imgInput {
                        position: absolute;
                        top: 5px;
                        left: -250px;
                        margin-top: -10px;
                        color: #e44650;

                        label {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 20px;

                            .icon {
                                font-size: 40px;
                            }
                        }

                    }

                    .formInput {
                        width: 45%;
                        margin-right: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }

                    input {
                        width: 100%;
                        padding: 10px;
                        border: 0.5px solid lightgray;
                        border-radius: 5px;
                    }

                    button {
                        width: 48%;
                        padding: 10px;
                        border: none;
                        font-size: 15px;
                        color: white;
                        cursor: pointer;
                        margin-top: 10px;
                        border-radius: 5px;
                        align-self: center;
                        background-color: #5BD1D7;
                    }
                }
            }
        }




    }
}