.navbar{
      height: 50px;
      border-bottom: 0.3px solid lightgray;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: rgba(40,40,40, 0.7);
     

      .wrapper{
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
      }

      .search{
            padding: 3px;
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;

            input{
                  border: none;
                  outline: none;
                  background-color: transparent;

                  &::placeholder{
                        font-size: 12px;
                  }
            }
      }

      .items{
            display: flex;
            align-items: center;

            .item{
                  display: flex;
                  align-items: center;
                  margin-right: 20px;
                  position: relative;

                  .icon{
                        font-size: 20px;
                  }
                  .avatar{
                       width: 25px;
                       height: 25px;  
                       margin-top: -5px;
                       border-radius: 50%;

                  }
                  .counter{
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 10px;
                        font-weight: bold;
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        background-color: red;
                  }
            }
      }
}