.sidebar {
    flex: 1;
    border-right: 0.3px solid lightgray;
    min-height: 100vh;
    background-color: white;
    background-color: rgba(0, 128, 0, 0.318);
    display: flex;
    justify-content: center;
    position: relative;

    .sidebarFixed {
        position: fixed;
        width: 150px;

        .top {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                font-size: 21px;
                font-weight: 800;
            }
        }

        hr {
            height: 0;
            border: 0.3px solid lightgray;
        }

        .center {
            padding-left: 20px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(228, 70, 80, 0.2);
                    }
                }

                .title {
                    font-size: 11px;
                    font-weight: bold;
                    color: #999;
                    margin-top: 15px;
                    margin-bottom: 5px;
                }

                .icon {
                    font-size: 18px;
                    color: rgba(106, 13, 173, 0.8);
                }

                span {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(40, 40, 40, 0.5);
                    margin-left: 10px;
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-left: 5px;

            .colorOptions {
                width: 20px;
                height: 20px;
                border-radius: 5px;
                margin: 10px;
                border: 1px solid rgba(106, 13, 173, 0.8);
                cursor: pointer;

                &:nth-child(1) {
                    background-color: whitesmoke;
                }

                &:nth-child(2) {
                    background-color: #192841;
                }
            }
        }

    }
}