.table{
      .tableCellTitle{
            font-weight: 500;
      }
      .tableCell{
            font-weight: 300;
      }
      .cellWrapper{
            display: flex;
            align-items: center;

            .image{
                  width: 34px;
                  height: 34px;
                  border-radius: 50%;
                  margin-right: 10px;
                  border: 1px solid lightgray;
                  object-fit: cover;
            }
      }

      .paymentMethod{
            border-radius: 5px;

            &.Cash{
                  padding: 8px 36px;
                  color: green;
                  background-color: rgba(110, 219, 110, 0.293);
            }
            &.MobileMoney{
                  padding: 8px 10px;
                  color: goldenrod;
                  background-color: rgba(225, 225, 79, 0.277);
            }
            &.Online{
                  padding: 8px 32px;
                  color: rgb(10, 10, 137);
                  background-color: rgba(152, 155, 241, 0.385);
            }

      }

      .status{
            padding: 5px;
            border-radius: 5px;

            &.Delivered{
                  color: green;
                  background-color: rgb(0, 128, 0, 0.151);
            }
            &.Pending{
                  color: goldenrod;
                  background-color: rgb(189, 189, 3, 0.151);
            }

      }
}