.datatable{
      height: 580px;
      padding: 20px;

      .datatableTitle{
            width: 100%;
            font-size: 20px;
            color: rgba(106,13,173, 0.8);
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .link{
                  padding: 5px 15px;
                  color: green;
                  font-size: 16px;
                  font-weight: 400;
                  border-radius: 5px;
                  background-color: rgba(0, 128, 0, 0.105);
                  border: 1px solid rgba(0, 128, 0, 0.388);
            }
      }

      .cellWidthImg{
            display: flex;
            align-items: center;

            .cellImg{
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  object-fit: cover;
                  margin-right: 20px;
            }
      }

      .cellName{
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
      }

      .cellWithStatus{
            padding: 5px;
            border-radius: 5px;

            &.active{
                  background-color: rgba(0, 128, 0, 0.05);
                  color: green;
            }
            &.pending{
                  background-color: rgba(255, 217, 0, 0.05);
                  color: goldenrod;
            }
            &.passive{
                  background-color: rgba(220, 0, 0, 0.05);
                  color: crimson;
            }
      }

      .status{
            padding: 5px;
            border-radius: 5px;

            &.Delivered{
                  color: green;
                  background-color: rgb(0, 128, 0, 0.151);
            }
            &.Pending{
                  color: goldenrod;
                  background-color: rgb(189, 189, 3, 0.151);
            }

      }
      .paymentMethod{
            border-radius: 5px;

            &.Cash{
                  padding: 8px 36px;
                  color: green;
            }
            &.MobileMoney{
                  padding: 8px 10px;
                  color: goldenrod;
            }
            &.Online{
                  padding: 8px 32px;
                  color: rgb(10, 10, 137);
            }

      }

      .cellAction{
            display: flex;
            align-items: center;
            gap: 15px;

            .viewButton{
                  padding: 2px 5px;
                  border-radius: 5px;
                  border: 1px dotted rgba(0, 100, 0, 0.682);
                  cursor: pointer;
            }
            .deleteButton {
                  padding: 2px 5px;
                  border-radius: 5px;
                  color: crimson;
                  border: 1px dotted rgba(220, 20, 60, 0.6);
                  cursor: pointer;
            }
      }

}